body {    
    font-family: "Arial";   
}
#listContainer {
    float: left;
    width: 25%;
}

#dropContainer {
    float:right;
     width: 75%;
    height: 400px;
     
}
#mapContainer {
    background:url('../Images/stillwater.jpg') no-repeat;
    width:440px;
    height:440px;
    position:relative;
}
.draggable-list {
    text-align:left;
    list-style-type: none;
}

.canvas-element {
    position: absolute;
    margin-right:0px;
}

.drag-item {
    margin-bottom: 5px;
    color: black;
    cursor:pointer;
}
.item-icon {
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
.item-sundy {
    background: url('../Images/sundyIconV.png') no-repeat center !important;
}

.item-medic {
    background: url('../Images/medic-icon.png') no-repeat center !important;
}

.item-turret {
    background-image: url('../Images/turret-icon.png') !important;
}

.item-dart {
    background-image: url('../Images/dart-icon.png') !important;
}
.item-MAX {
    background-image: url('../Images/max-icon.png') !important;
}

